<h1 class="text-center">Joke App</h1>

<div class="card container">
  <h2>Joke attuale</h2>
  <p>  {{joke}}</p>
  <div class="text-center">
    <button (click)="like()">Like</button>
    <button (click)="dislike()">Dislike</button>
  </div>
</div>

<div *ngIf="likedJokes.length > 0" class="d-flex flex-column">
  <h2>Jokes liked</h2>
  <ol>
    <li *ngFor="let goodJoke of likedJokes">  {{goodJoke}} <button (click)="notLike(goodJoke)">Nope</button></li>
  </ol>
</div>

<div *ngIf="disliked.length > 0">
  <h2>Jokes not liked</h2>
  <ol>
    <li *ngFor="let badJoke of disliked">{{badJoke}}<button (click)="notDislike(badJoke)">Nope</button></li>
  </ol>
</div>
