<div
  class="container p-2 m-4 d-flex align-items-center justify-content-around border"
  [ngClass]="{
    'border-danger': person.role == 'staff',
    'border-info': person.role == 'admin',
    'border-warning': person.role == 'manager'
  }"
>
  <img src="{{ person.profilePhotoUrl }}" />
  <strong>{{ person.name }} {{ person.surname }}</strong>
  {{ person.age }}
  {{ person.address.city }}
  <button type="button" class="btn btn-primary btn-sm" (click)="deletedUser(person)">Rimuovi</button>
  <button type="button" class="btn btn-primary btn-sm" >Visualizza dettagli</button>
</div>
